In [28]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [29]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2021-09-29 01:19:38,72.7868,-56.1549,25.77,52,16,4.27
1,1,Kathu,TH,2021-09-29 01:19:38,7.9178,98.3332,78.62,79,69,3.33
2,2,Carnarvon,AU,2021-09-29 01:19:39,-24.8667,113.6333,73.47,64,4,3.44
3,3,Imbituba,BR,2021-09-29 01:19:29,-28.2400,-48.6703,68.83,94,100,11.88
4,4,Avarua,CK,2021-09-29 01:15:42,-21.2078,-159.7750,80.65,69,75,5.75

In [30]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature

In [31]:
# Heatmap of temperature

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 2)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of humidity

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of Cloudiness

In [33]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kathu,TH,2021-09-29 01:19:38,7.9178,98.3332,78.62,79,69,3.33
4,4,Avarua,CK,2021-09-29 01:15:42,-21.2078,-159.7750,80.65,69,75,5.75
6,6,Georgetown,MY,2021-09-29 01:15:27,5.4112,100.3354,76.95,95,40,2.30
11,11,Merauke,ID,2021-09-29 01:19:41,-8.4667,140.3333,83.89,66,93,10.74
15,15,Cockburn Town,TC,2021-09-29 01:17:55,21.4612,-71.1419,83.59,71,3,9.08
...,...,...,...,...,...,...,...,...,...,...
542,542,Acajutla,SV,2021-09-29 01:22:33,13.5928,-89.8275,80.69,78,90,2.59
543,543,Nago,JP,2021-09-29 01:22:33,26.5881,127.9761,86.45,75,2,15.59
545,545,Markala,ML,2021-09-29 01:22:34,13.7021,-6.0659,81.41,53,0,8.70
554,554,Biak,ID,2021-09-29 01:22:36,-0.9131,122.8766,81.72,72,32,7.20
555,555,Nioro,GM,2021-09-29 01:18:10,13.3500,-15.7500,77.00,89,4,7.02

In [37]:
# determine if there are any null values.
preferred_cities_df.isnull().sum()

# There are no nulls

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1           Kathu      TH     78.62   7.9178   98.3332
4          Avarua      CK     80.65 -21.2078 -159.7750
6      Georgetown      MY     76.95   5.4112  100.3354
11        Merauke      ID     83.89  -8.4667  140.3333
15  Cockburn Town      TC     83.59  21.4612  -71.1419
19          Kutum      SD     77.04  14.2000   24.6667
22           Poso      ID     85.78  -1.3959  120.7524
24        Magaria      NE     83.03  12.9983    8.9099
25      Kavaratti      IN     80.85  10.5669   72.6420
26        Kushima      JP     81.91  31.4583  131.2333

In [41]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
          hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
          print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kathu,TH,78.62,7.9178,98.3332,Novotel Phuket Resort
4,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
6,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
11,Merauke,ID,83.89,-8.4667,140.3333,
15,Cockburn Town,TC,83.59,21.4612,-71.1419,Osprey Beach Hotel
19,Kutum,SD,77.04,14.2000,24.6667,Dibbo areaمنطقة دبو
22,Poso,ID,85.78,-1.3959,120.7524,Hotel 77 Poso
24,Magaria,NE,83.03,12.9983,8.9099,Chez Honorable Chapiou
25,Kavaratti,IN,80.85,10.5669,72.6420,Hotels in Lakshadweep Islands
26,Kushima,JP,81.91,31.4583,131.2333,Hanaoka

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [47]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))